<div class="wrapper">

  <mat-accordion>
    <mat-expansion-panel [expanded]="open">
      <mat-expansion-panel-header (click)="openToggle()">
        <mat-panel-title>
          Upload New PDF
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="upload-forms-container">
        <form [formGroup]="uploadForm" (ngSubmit)="onUpload()">
          <div class="form-group" id="nameError">
            <mat-form-field class="errors">
              <input matInput type="text" id="pdfNameInput" placeholder="Enter the name the PDF" formControlName="pdfNameInput">
            </mat-form-field>
          </div>

          <div class="form-group" id="descriptionError">
            <mat-form-field class="errors">
              <input matInput type="text" id="pdfDescInput" placeholder="Short description of the PDF" formControlName="pdfDescInput">
            </mat-form-field>
          </div>
        </form>
        <div class="form-group" id="fileError">
          <input class="errors" type="file" id="exampleInputFile" aria-describedby="fileHelp" (change)="onFileSelected($event)">
          <small id="fileHelp" class="form-text text-muted">Choose a form to upload. File type must be .pdf</small>
        </div>

        <div class="upload-pdf">
          <button class="upload-btn" (click)="onUpload()" type="submit">Upload</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <table class="table table-striped table-bordered table-hover table-sm" align="center">
    <thead id="tableHeader">
      <tr>
        <th class="first-column" scope="col">Form Name</th>
        <th class="second-column" scope="col">Form Description</th>
        <th class="third-column" scope="col">Form Date</th>
      </tr>
    </thead>
    <tbody>
      <tr class="form-rows" *ngFor="let form of forms" scope="row">
        <td class="form-name">
          {{ form.pdfName }}
        </td>
        <td class="form-name">
          {{ form.pdfDesc }}
        </td>
        <td class="report-date">
          {{ form.pdfDate | date:'yyyy-MM-dd' }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
