.info-container {
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
}

.page-title h1 {
  text-align: center;
  font-size: 30px;
  padding: 15px 0 15px 0;
}

.links-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.tile img {
  height: 250px;
  width: 250px;
}

.tile {
  font-size: 20px;
  align-content: center;
  margin: auto;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  overflow: hidden;
  transition-timing-function: ease-in;
  transition: 1.5s;
}


@media only screen and (max-width: 1000px) {
  .links-container {
    grid-template-columns: 1fr;
  }
}
