<div class="info-container">
  <div class="page-title">
    <h1>Helpful Links</h1>
  </div>
  
  <table>
    <tbody>
      <tr>
        <td>
          <div class="tile" onclick="location.href='https://medlineplus.gov/exerciseandphysicalfitness.html'">
              Exercise & Physical Fitness Resources
              <img src="src\assets\img\ExerciseandPhysicalFitness.jpg" alt="Exercise & Physical Fitness Resources">
          </div>
        </td>
        <td>
          <div class="tile"  onclick="location.href='https://www.usa.gov/vaccinations'">
            Vaccine & Immunization Information
            <img src="src\assets\img\Vaccination.jpg" alt="Vaccine & Immunization Information">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tile" onclick="location.href='https://www.mentalhealth.gov/'">
              Mental Health Resources
              <img src="src\assets\img\MentalHealth.jpg" alt="Mental Health Resources">
          </div>
        </td>
        <td>
          Cold & Flu Prevention Tips
          <iframe width="403" height="227" src="https://www.youtube.com/embed/6x2pBKBjJ7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td>
      </tr>
    </tbody>
  </table>
</div>