<div class="info-container">
  <div class="page-title">
    <h1>Helpful Links</h1>
  </div>
  <div class="links-container">
    <div class="tile" (click)='openLinkNewWindow("https://medlineplus.gov/exerciseandphysicalfitness.html")'>
      Exercise & Physical Fitness Resources
      <img src="assets/img/ExerciseandPhysicalFitness.jpg" alt="Exercise & Physical Fitness Resources">
    </div>

    <div class="tile" (click)='openLinkNewWindow("https://www.usa.gov/vaccinations")'>
      Vaccine & Immunization Information
      <img src="assets/img/Vaccination.jpg" alt="Vaccine & Immunization Information">
    </div>

    <div class="tile" (click)='openLinkNewWindow("https://www.mentalhealth.gov/")'>
      Mental Health Resources
      <img src="assets/img/MentalHealth.jpg" alt="Mental Health Resources">
    </div>

    <div class="tile">
      Cold & Flu Prevention Tips
      <iframe width="403" height="227" src="https://www.youtube.com/embed/6x2pBKBjJ7k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
