<div class="wrapper" id="wrapper">
  <!--<div class="room-side" [ngClass]="{'room-slide-in': clicked && changeView, 'room-slide-out': !clicked}" id="room-side">-->
    <!--<div *ngIf="changeView" class="close-btn">-->
      <!--<i class="fas fa-times" (click)="showChatOptions()"></i>-->
    <!--</div>-->
    <!--<div *ngFor="let i of roomChoice; let index = index" class="each-room-choice" id="easing"-->
         <!--(click)="selectRoomAnimation()">-->
      <!--<div class="rooms" (click)="selectRoom(index)"-->
           <!--[ngClass]="{'expand': index == roomIndex, 'shrink': index != roomIndex}">{{i}}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div *ngIf="changeView" class="side-room-toggle" (click)="showChatOptions()">-->
    <!--<i class="fas fa-ellipsis-h"></i>-->
  <!--</div>-->

  <!--RIGHT SIDE WHERE MESSAGES ARE DISPLAYED-->
  <div class="screen-side">
    <div class="message-screen" id="message-screen">
      <div *ngFor="let item of messageArray; let index = index" class="message-container">
        <div id="messages">
          <div class="user"
               [ngClass]="{'float-user-right': messageArray[index].user == user,
               'user-join': messageArray[index].message == 'has joined this room.' || messageArray[index].message == 'has left this room.'}">
            {{item.user}}
          </div>
          <div class="message"
               [ngClass]="{'float-message-right': messageArray[index].user == user,
               'user-join-message': messageArray[index].message == 'has joined this room.' || messageArray[index].message == 'has left this room.'}">
            {{item.message}}
          </div>
        </div>
      </div>
      <div id="end"></div>
    </div>
    <div class="user-typing" *ngIf="userTyping">{{whoIsTyping}} is typing
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <textarea type="text"
              class="form-control message-input"
              id="message-input"
              placeholder="message"
              [(ngModel)]="messageText"
              (keyup.enter)="sendMessage()"
              (keypress)="typing()"></textarea>
  </div>
</div>
