<nav *ngIf="authorized" class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" routerLink="home"><img class="logo" src="./assets/img/logo.png/" ></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars menu-bars-icon"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <div class="right-section-container">
      <i class="nav-item fa fa-envelope fa-lg" data-toggle="tooltip" data-placement="top" title="Hooray!"></i>
      <i class="nav-item fa fa-phone fa-lg" routerLink="contact-page"></i>
      <i class="nav-item fa fa-bell fa-lg"></i>
      <img class="user-image" src="./assets/img/jane-doe.png">
      <span class="dropdown dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user}}
      <img class="user-image" src="./assets/img/jane-doe.png" routerLink="medical-profile">
      <span class="dropdown dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jane Doe
          <div class="dropdown-menu dropdown-menu-right user-dropdown">
              <button routerLink="/account-settings" class="dropdown-item" type="button">Settings</button>
              <button routerLink="/medical-profile" class="dropdown-item" type="button">My Profile</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
          </div>
      </span>
    </div>
  </div>
</nav>

