.navbar {
  background-color: white;
}

.logo {
  width: 200px;
}

.navbar-toggler {
  outline: none;
}

.right-section-container {
  position: absolute;
  margin: 0 20px 0 0;
  right: 0;
}

.menu-bars-icon:hover {
  color: #3B92A9;
}

.dropdown-menu.dropdown-menu-right.user-dropdown {
  margin-top: 25px;
}

.drop-menu {
  height: 150px;
  position: fixed;
  top: 45px;
  background-color: #ffffff;
  border: 1px solid #3B92A9;
  z-index: 1020;
  padding: 10px;
  border-radius: 10px;
}

.drop-menu-ul {
  list-style: none;
  display: contents;
}

.form-inline .form-control {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  padding-left: 38px;
}

.nav-icon {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  width: 50px;
}

input.form-control {
  background-color: #DCDCDC;
  color: #4C4C4C;
}

i.nav-item {
  margin: 0 15px 0 15px;
}

i.nav-item:hover, .dropdown-item:hover {
  color: #3B92A9;
}

.user-image {
  margin-left: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

span.dropdown:hover {
  color: #3B92A9;
  cursor: default;
}

span.dropdown {
  margin-right: 15px;
}

.slide-out-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:10px;
}

.top-section {
  margin: 20px;
  text-align: center;
  padding: 15px;
}

.page-links {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  padding: 50px;
}

a {
  color: black;
  font-size: 30px;
}

a:hover {
  text-decoration: none;
  color: #3B92A9;
}

.slide-in {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 85%;
  z-index: 10000;
  color: black;
  transition: all 0.2s ease-out;
  border: 1px solid #969595;
  border-radius: 5px;
}

.slide-out {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -1000px;
  z-index: 10000;
  transition: all 0.2s ease-in;
}

.close-btn {
  width: 100%;
  margin-bottom: 45px;
  padding: 8px;
}

.fa-times {
  float: right;
  margin: 32px 20px 0 0;
  font-size: 25px;
}

.toggle-btn {
  border:none;
  font-size: 23px;
  margin-right: 12px;
}

@media (max-width: 1250px) {
  .form-inline .form-control {
    width: 500px;
  }
}

@media (max-width: 1000px) {
  .right-section-container {
    margin: 20px 0 0 0;
    text-align: center;
  }

  .form-inline .form-control {
    width: 93% !important;
  }

  .drop-menu {
    top: 170px;
    width: 95%;
  }
}

@media (max-width: 600px) {
  .form-inline .form-control {
    width: 200px;
  }
}
