<nav *ngIf="authorized" class="navbar navbar-expand-lg sticky-top">
  <a class="navbar-brand" routerLink="home"><img class="logo" src="./assets/img/logo.png/"></a>
  <button *ngIf="changeView" class="toggle-btn" type="button" (click)="showSlideOutNav()">
    <i class="fas fa-bars menu-bars-icon"></i>
  </button>

  <div *ngIf="!changeView" class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <div class="right-section-container">
      <i class="nav-item fa fa-envelope fa-lg" data-toggle="tooltip" data-placement="top" routerLink="chat"></i>
      <span class="nav-item fa fa-phone fa-lg" placement="bottom" triggers="click" [ngbPopover]="popoverContent"
        popoverTitle="Contact Information"></span>
      <img class="user-image" src="{{imagePath}}" routerLink="profile">

      <ng-template #popoverContent>
        <h6 class="contactInfoHeader">Office Address:</h6>
        <div> Dr. Phil McGraw</div>
        <div> Appalachian Primary Care</div>
        <div>123 Appalachian Way</div>
        <div>Kennesaw, GA 11111</div>

        <h6 class="contactInfoHeader">Phone Number:</h6>
        <div>770-132-4567</div>
        <h6 class="contactInfoHeader">Fax Number:</h6>
        <div>770-222-4567</div>
        <h6 class="contactInfoHeader">Hours Of Operations:</h6>
        <div>Monday-Thursday 8:00 AM-5:30 PM
          Friday 7:00 AM-3:00 PM</div>
      </ng-template>

      <span class="dropdown dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">{{user}}
        <div class="dropdown-menu dropdown-menu-right user-dropdown">
          <button routerLink="account-settings" class="dropdown-item" type="button">Settings</button>
          <button *ngIf="!isAdmin" routerLink="profile" class="dropdown-item" type="button">My Profile</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
        </div>
      </span>
    </div>
  </div>
</nav>


<div *ngIf="changeView" class="slide-out-nav">
  <div [ngClass]="{'slide-in': sideNavVisible, 'slide-out': !sideNavVisible}">
    <div class="close-btn">
      <i class="fas fa-times" (click)="showSlideOutNav()"></i>
    </div>
    <div class="top-section" (click)="showSlideOutNav()">
      <img class="slide-user-image" src="{{imagePath}}" routerLink="user-profile">
      <div class="slide-out-user">{{user}}</div>
    </div>
    <div class="top-contacts">
      <i class="slide-nav-item fa fa-envelope fa-lg" data-toggle="tooltip" data-placement="top" title="Hooray!" (click)="showSlideOutNav()"></i>
      <i class="slide-nav-item fa fa-phone fa-lg" routerLink="contact-page" (click)="showSlideOutNav()"></i>
      <i class="slide-nav-item fa fa-bell fa-lg" (click)="showSlideOutNav()"></i>
    </div>
    <div *ngIf="!isAdmin" class="page-links">
      <a routerLink="prescription-refill" (click)="showSlideOutNav()">My Medicine</a>
      <a routerLink="calendar" (click)="showSlideOutNav()">Calendar</a>
      <a routerLink="chat" (click)="showSlideOutNav()">Chat</a>
      <a routerLink="forms" (click)="showSlideOutNav()">Forms</a>
      <a routerLink="reports" (click)="showSlideOutNav()">Medical Reports</a>
      <a routerLink="helpful-links" (click)="showSlideOutNav()">Helpful Links</a>
    </div>
    <div *ngIf="isAdmin" class="page-links">
      <a routerLink="users-list" (click)="showSlideOutNav()">Manage Users</a>
      <a routerLink="form-upload" (click)="showSlideOutNav()">Upload Forms</a>
      <!--<a routerLink="home" (click)="showSlideOutNav()">Edit Website Info</a>-->
      <!--<a routerLink="home" (click)="showSlideOutNav()">Chat</a>-->
    </div>
    <footer class="page-links">
      <a routerLink="account-settings" (click)="showSlideOutNav()">Settings</a>
      <a *ngIf="!isAdmin" routerLink="user-profile" (click)="showSlideOutNav()">My Profile</a>
      <a routerLink="" (click)="logout(); showSlideOutNav()">Logout</a>
    </footer>
  </div>
</div>
