.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 100%;
  padding: 0;
}

.screen-side {
  visibility: visible;
}

.room-side {
  border-radius: 5px;
  max-height: 660px;
  overflow-y: scroll;
}

.collapse-menu {
  height: 25px;
}

.side-room-toggle {
  width: 95%;
  text-align: center;
  color: black;
  margin: 0 auto;
}

.username {
  width: 95%;
  border-bottom: 1px solid rgba(163, 163, 163, 0.75);
  margin: 8px auto;
  height: fit-content;
  outline: none;
}

.username-input {
  border: none;
  outline: none;
}

.each-room-choice {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2px 5px 2px 5px;
  border-radius: 5px;
}

.drop-room-choice {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background: white;
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #969595;
  border-radius: 5px;
}

.room-slide-in {
  position: fixed;
  width: 85%;
  top: 130px;
  left: 5px;
  padding: 10px;
  background: white;
  border: 1px solid #969595;
  box-shadow: 5px 5px 27px -3px #000000b3;
  transition: all 0.3s ease-out;
}

.room-slide-out {
  position: fixed;
  width: 0;
  top: 70px;
  left: -1000px;
  transition: all 0.5s ease-in;
}

.close-btn {
  width: 100%;
  margin-bottom: 45px;
  padding: 8px;
}

.fa-times {
  float: right;
  margin: 10px;
  font-size: 25px;
}

.rooms {
  width: 100%;
  height: 75px;
  font-size: 28px;
  background: rgb(234, 231, 234);
  color: #3e3d3d;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-align: center;
  padding: 10px;
  cursor: default;
}

.screen-side {
}

.message-screen {
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  width: 100%;
  box-shadow: 5px 5px 27px -3px #000000b3;
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  padding: 15px 0 30px 0;
}

::-webkit-scrollbar {
  display: none;
}

.message-container {
  display: flex;
  margin: 5px 0 5px 25px;
  font-size: 25px;
}

.message-input {
  width: 96%;
  margin: 11px;
  height: 37px;
}

.send {
  font-size: 25px;
}

.user {
  font-size: 12px;
  display: inline-block;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
  padding-top: 14px;
  float: left;
}

.message {
  font-size: 20px;
  border-radius: 15px;
  background-color: #dbdbdb;
  color: #292929;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  width: auto;
  max-width: 22rem;
  display: inline-block;
}

#messages {
  width: 98%;
}

.float-user-right {
  float: right;
  margin: 0 0 0 1rem;
}

.float-message-right {
  float: right;
  background-color: #3B92A8;
  color: white;
}

.user-join {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  font-size: 12px;
  float: none;
  margin: 0;
  width: auto;
}

.user-join-message {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  font-size: 12px;
  float: none;
}

.user-typing {
  position: absolute;
  bottom: 70px;
  width: fit-content;
  padding: 0 0 0 15px;
  display: flex;
  color: #696363;
}

.spinner {
  margin-left: 5px;
}

.spinner > div {
  width: 5px;
  height: 5px;
  margin: 2px;
  background-color: #696363;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@media only screen and (max-width: 800px) {

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .message {
    max-width: 265px;
  }
}
