.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 100%;
  padding: 0;
}

.room-side {
  border-radius: 5px;
  max-height: 660px;
  overflow-y: scroll;
}

.username {
  width: 95%;
  border-bottom: 1px solid rgba(163, 163, 163, 0.75);
  margin: 8px auto;
  height: fit-content;
  outline: none;
}

.username-input {
  border: none;
  outline: none;
}

.each-room-choice {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2px 5px 2px 5px;
  border-radius: 5px;
}

.rooms {
  width: 100%;
  height: 75px;
  font-size: 28px;
  background: rgb(234, 231, 234);
  color: #3e3d3d;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-align: center;
  padding: 10px;
  cursor: default;
}

.screen-side {
}

.message-screen {
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  width: 100%;
  box-shadow: 5px 5px 27px -3px #000000b3;
  min-height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  padding: 15px 0 0 0;
}

::-webkit-scrollbar {
  display:none;
}

.message-container {
  display: flex;
  margin: 5px 0 5px 25px;
  font-size: 25px;
}

.message-input {
  width: 96%;
  margin: 11px;
}

.send {
  font-size: 25px;
}

.user {
  font-size: 12px;
  display: inline-block;
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid;
  text-align: center;
  border-radius: 50%;
  padding-top: 14px;
  float: left;
}

.message {
  font-size: 20px;
  border-radius: 15px;
  background-color: #dbdbdb;
  color: #292929;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  width: auto;
  max-width: 22rem;
  display: inline-block;
}

#messages {
  width: 98%;
}

.float-user-right {
  float: right;
  margin: 0 0 0 1rem;
}

.float-message-right {
  float: right;
  background-color: #3B92A8;
  color: white;
}


.user-join {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  font-size: 12px;
  float: none;
  margin: 0;
  width: auto;
}

.user-join-message {
  border: none;
  background-color: transparent;
  color: black;
  padding: 0;
  font-size: 12px;
  float: none;
}


