<div *ngIf="!registerViewOpen" class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" formControlName="username">
      <div *ngIf="submitted && loginForm.controls.username.errors" class="error-message">Username is required</div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div *ngIf="submitted && loginForm.controls.password.errors" class="error-message">Password is required</div>

    </div>
    <button type="submit" class="login-btn">Login</button>
    <button class="register-btn" type="button" (click)="openRegisterView()">Register</button>
  </form>
</div>

