p{
  text-align: center;
  font-size: 50px;
}

.meds{
  font-size: 20px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RefillMeds{
  font-size: 20px;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.RefillCheckbox{
  float: left;
  left: 0;
  top: 10px;
}

#leftMed{
  float: left;
  position: relative;
  width: 40%;
  left: 8%;
}

#rightMed{
  float: right;
  position: relative;
  width: 40%;
  right: 8%;
}

#btnSubmitRequest{
  position: relative;
  width: 20%;
}

.container {
  padding: 10px;
  min-height: 200px;
}

#AlignRefillBtn{
  position: relative;
  top: 140px;
}

#topMedList{
  position: relative;
  width: 70%;
  left: 15%;
}

#MedCard{
  font-size: 15pt;
  text-align: left;
}

#tableHeader{
  background-color: #17a2b8;
  color: white;
  /*text-align: center;*/
}

table{
  position: relative;
  width: 90%;
  left: 5%;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 33%;
  text-align: center;
}

.btn-submit{
  background-color: white;
  border: 2px solid
}
