p {
  text-align: center;
  font-size: 50px;
}

.container {
  padding: 10px;
  min-height: 200px;
}

#tableHeader {
  background-color: #17a2b8;
  color: white;
}

table {
  width: 90%;
  margin: 0 auto;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  width: 14%;
  text-align: center;
}

.align {
  width: 25%;
}

@media only screen and (max-width: 1000px) {
  p {
    font-size: 30px;
  }

  table {
    font-size: 10px;
  }

  .refill-btn {
    font-size: 11px;
  }
}
