.info-container {
  width: 80%;
  margin: 0 auto 20px;
  text-align: center;
}

.page-title h1 {
  text-align: center;
  font-size: 30px;
  padding: 15px 0 15px 0;
}

table {
  width: 80%;
  margin-bottom: 50px;
}

#tableHeader{
  /* background-color: #17a2b8; */
  background-color: #527EBE;
  color: white;
  text-align: center;
}

.form-rows {
  cursor: default;
}

table button {
  table-layout: auto;
  size: relative;
}

table.table-hover th {
  font-weight: bold;
}

th.first-column {
  width: 30%;
  vertical-align: middle;
}

th.second-column {
  width: 65%;
  vertical-align: middle;
}

th.third-column {
  width: 15%;
  vertical-align: middle;
}

.form-rows {
  cursor: default;
}

.modal-container {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0;
}

.modal-content {
  height: 100%;
}

.modal-body {
  height: 100%;
}

.modal-header {
  border: none;
}
.modal-header .close {
  padding: 0;
  margin-right: 5px;
  font-size: 45px;
}

