<ol class="breadcrumb">
  <li class="breadcrumb-item" (click)="onClick('View List')">Users List</li>
  <li class="breadcrumb-item active">{{user.name}}</li>
</ol>
<div class="wrapper">

  <div class="info-container">
    <div class="user-image">
      <img *ngIf="user.image" class="user-image-component" src="{{user.image}}">
      <img *ngIf="!user.image" class="user-image-component" src="../../assets/img/default-user.png">
    </div>
    <div class="user-info">
      <strong>Name: </strong>
      <div>{{user.name}}</div>
      <strong>Email: </strong>
      <div> {{user.email}}</div>
      <strong>Username: </strong>
      <div> {{user.username}}</div>
    </div>
  </div>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Manage Medical Profile">
      <app-medical-info></app-medical-info>
    </mat-tab>
    <mat-tab label="View and Upload Reports">
      <app-report-upload></app-report-upload>
    </mat-tab>
    <mat-tab label="Manage Appointments">
      <app-admin-calendar></app-admin-calendar>
    </mat-tab>
    <mat-tab label="Chat">
      <app-admin-chat></app-admin-chat>
    </mat-tab>
    <mat-tab label="Prescription Refill">
      <!--<app-prescription-refill></app-prescription-refill>-->
      <app-admin-prescription-refill></app-admin-prescription-refill>
    </mat-tab>
  </mat-tab-group>
</div>
