<div class="sidenav">
  <div class="user-section-container">
    <div class="user-img-text" routerLink="medical-profile"><img src="./assets/img/jane-doe.png"> Welcome Jane</div>
  </div>
  <a routerLink="my-medicine">My Medicine</a>
  <a routerLink="calendar">Calendar</a>
  <a routerLink="chat">Chat</a>
  <a routerLink="forms">Forms</a>
  <a routerLink="reports">Medical Reports</a>
  <a routerLink="prescription-refill">Prescription Refill</a>
  <a routerLink="helpful-links">Helpful Links</a>
</div>

