body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: fit-content;
  width: 250px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  overflow-x: hidden;
  border-radius: 10px;
  padding: 0 0 25px 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Helvetica", sans-serif;
  color: #000;
  display: block;
}

.sidenav a:hover {
  color: #3B92A9;
  cursor: default;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background: #5998C5;
  height: 50px;
  font-size: 25px;
}

.menu-button {
  float: right;
  color: white;
}

.menu-button:hover {
  color: #FFD166;
}

img {
  width: 50px;
  border-radius: 50%;
}

.profile-btn {
  border-radius: 100%;
}

.user-section-container {
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
  margin-bottom: 10px;
  text-align: center;
}

.user-img-text {
  position: relative;
  top: 25px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .sidenav {
    font-size: 15px;
    width: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .sidenav {
    height: 0;
    width: 0;
  }
}
