<div *ngIf="authorized && !isAdmin" class="sidenav">
  <div class="user-section-container">
    <div class="user-img-text" routerLink="profile">
      <img src="{{imagePath}}"> Welcome {{user}}
    </div>
  </div>
  <a routerLink="home">Home</a>
  <a routerLink="prescription-refill">My Medicine</a>
  <a routerLink="calendar">Calendar</a>
  <a routerLink="chat">Chat</a>
  <a routerLink="forms">Forms</a>
  <a routerLink="reports">Medical Reports</a>
  <a routerLink="helpful-links">Helpful Links</a>
</div>

<div *ngIf="authorized && isAdmin" class="sidenav">
  <div class="user-section-container">
    <div class="user-img-text" routerLink="profile"><img src="{{imagePath}}"> Welcome {{user}}</div>
  </div>
  <a routerLink="home">Users List</a>
  <a routerLink="form-upload">Upload Forms</a>
  <!--<a routerLink="chat">Chat</a>-->
</div>


