<!-- Nav tabs -->
<div>
  <div class="myProfile" id="user-page-header">
  <h3>My Profile</h3>
  </div>
<ul class="nav nav-tabs md-tabs nav-justified">
  <li class="nav-item container">
    <a class="nav-link active" id="tab1" data-toggle="tab" href="#panel1" role="tab" >Contact Information</a>
  </li>
  <li class="nav-item container">
    <a class="nav-link"  id="tab2" data-toggle="tab" href="#panel2" role="tab">Billing and Insurance</a>
  </li>
  <li class="nav-item container">
    <a class="nav-link" id="tab3" data-toggle="tab" href="#panel3" role="tab">Medical Information</a>
  </li>
</ul>
<!-- Tab panels -->
<div class="tab-content card" id="contactInfo">
  <!--Panel 1-->
  <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
    <br>
    <!--<div>-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-11">-->
          <!--</div>-->
          <!--<div class="col-md-1">-->
            <!--<td><button class="btn btn-primary" ng-click="edit(item)">Edit</button></td>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <div class="card border-info mb-3" style="max-width: 20rem;">
      <div class="card-header">Patient Information</div>
      <div class="card-body">
        <div class="container">
        <div class="row">
          <div class="col-lg-10 col-card-row-1">

            <form [formGroup]="profileForm">

              <label>
                First Name: <input type="text" formControlName="firstName" class="form-textbox">
              </label>

              <label>
                Last Name:
                <input type="text" formControlName="lastName">
              </label>

            </form>
          <p>
        <p> Name: <p>
        <p> Address: <p>
        <p>  Date of Birth: <p>
        <p>  Sex:       <p>
        <p>  Marital Status: <p>
        <p>  Language:  <p>
        <p>  Race:    <p>
        <p>  Ethnicity: <p>
        </p>
          </div>
          <div class="col-lg-2 col-card-row-1">
            <td><button class="btn btn-primary" ng-click="edit(item)">Edit</button></td>
          </div>
      </div>
      </div>
    </div>
    </div>

<br>

    <div class="card border-info mb-3" style="max-width: 20rem;">
      <div class="card-header">Phone and Email Address</div>
      <div class="card-body">
        <p>
        <p> Home Phone: <p>
        <p> Mobile Phone: <p>
        <p>  Work Phone: <p>
        <p> Email Address: <p>
      </p>
      </div>
    </div>


<br>
    <div class="card border-info mb-3" style="max-width: 20rem;">
      <div class="card-header">Emergency Contact</div>
      <div class="card-body">
        <p>
        <p> Name: <p>
        <p> Relationship to Patient: <p>
        <p> Home Phone: <p>
        <p> Mobile Phone: <p>
      </p>
      </div>
    </div>
    </div>
  <!--/.Panel 1-->


  <!--Panel 2-->
  <div class="tab-pane fade" id="panel2" role="tabpanel">
    <br>
    <div>
      <div>
        <div class="container">
          <div class="row">
            <div class="col-md-11">
              <h5>Billing Information</h5>
            </div>
            <div class="col-md-1">
              <td><button class="btn btn-primary" ng-click="edit(item)">Edit</button></td>
            </div>
          </div>
      <p>Name:</p>
      <p>Address:</p>
      <p>Billing Phone:</p>
      <p>Billing Email:</p>
      </div>
  </div>
<div>
  <br>
  <div class="container">
  <h5>Primary Insurance</h5>
    <p> Type: </p>
    <p> Insurance Info:</p>
    <p> Office Visit Copay: </p>
    <p> Name: </p>
    <p> Relationship to Insured: </p>
    <p> Date of Birth: </p>
    <p> Group/Policy#: </p>
    <p> ID/Cert#: </p>
    <p> Issue: </p>
    <p> Expires: </p>
  </div>
</div>
  </div>
  </div>
  <!--/.Panel 2-->

  <!--Panel 3-->
  <div class="tab-pane fade" id="panel3" role="tabpanel">
    <br>
    <div>
      <div>
        <div class="container">
      <h5>Medical Information</h5>
        </div>
      </div>
      <br>
      <div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
      <h5>Blood Type:</h5>
          </div>
          <div class="col-md-4">
            O+
          </div>
        </div>
      </div>
      </div>
      <br>
      <div>
        <div class="container">
        <h5>Allergies</h5>
      <p>No allergies are listed in your records</p>
        </div>
      </div>
      <br>
      <div>
        <div class="container">
         <h5>Vaccinations</h5>
          <div class="row">
            <div class="col-md-4">
              Vaccine:
            </div>
            <div class="col-md-4">
              Type:
            </div>
            <div class="col-md-4">
              Date Received:
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
               Polio
            </div>
            <div class="col-md-4">
               Opv
            </div>
            <div class="col-md-4">
              12/12/12
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              Measles, Mumps, Rubella Mmr
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
               12/12/12
            </div>
            </div>
        </div>
      </div>
      <br>
      <div>
      <div class="container">
      <h5>Social History</h5>
        <div>
          <div class="row">
            <div class="col-md-4">
                Smoking Status:
              </div>
            <div class="col-md-4">
              Never Smoked
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              Tobacco Usage:
              </div>
            <div class="col-md-4">
              Status Unknown
            </div>
        </div>
      </div>
      </div>
<br>
      <div>
      <div class="container">
      <h5>Problems</h5>
        <div>
        <div class="row">
          <div class="col-md-4">
            Problem:
          </div>
          <div class="col-md-4">
            Provider:
          </div>
          <div class="col-md-4">
            Onset Date:
          </div>
        </div>

          <div>
            <div class="row">
              <div class="col-md-4">
                Flu
              </div>
              <div class="col-md-4">
                John Doe
              </div>
              <div class="col-md-4">
                12/30/65
              </div>
            </div>
          </div>
      </div>
      </div>
        <br>
      <div>
        <div class="container">
      <h5>Procedures</h5>
          <div>
            <div class="row">
              <div class="col-md-4">
                Description:
                </div>
              <div class="col-md-4">
                </div>
              <div class="col-md-4">
                Date Performed:
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                No procedures are listed in your records
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>


  </div>
  <!--/.Panel 3-->
    </div>
