.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-gap: 20px;
  min-width: 100%;
  padding-bottom: 150px;
  min-height: 700px;
}

.top-nav {
  min-width: 100%;
  grid-row: 1;
  grid-column: 1/8;
}

.side-nav {
  position: relative;
  top: 33px;
  border-radius: 10px;
}

.main-body {
  position: relative;
  top: 33px;
  background-color: white;
  border-radius: 10px;
}

.unauth-main-body {
  position: relative;
  top: 0;
  text-align: center;
}

.unauth-view {
  width: 60%;
  margin: 150px auto;
  box-shadow: 3px 3px 14px 0 #000000;
  background: white;
  border-radius: 5px;
  position: relative;
  top: 0;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .unauth-view {
    width: 100%;
    margin: 0 auto;
  }
}
