<h1>My Medications</h1>

<table class="table table-hover">
  <tbody>
  <tr class="" id="tableHeader">
    <th scope="row">Medication</th>
    <th scope="row">Refills Remaining</th>
    <th scope="row">Expiration Date</th>
    <th scope="row">Request Refill</th>
  </tr>
  <tr *ngFor="let i of userMeds">
    <td class="align">{{i.drugName}}</td>
    <td class="align">{{i.numberRefills}}</td>
    <td class="align">{{i.expireDate}}</td>
    <td class="align">
      <button type="button" class="btn btn-outline-secondary refill-btn">Update Refill</button>
    </td>
  </tr>
  </tbody>
</table>

