.upload-reports-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  text-align: center;
}

.pdf-name-input {
  margin: 0 auto;
}

.mat-form-field {
  width: 300px;
}

.form-group {
  padding: 20px;
  margin: 0 auto;
}

.upload-pdf {
  width: 100%;
  text-align: center;
}

.upload-btn {
  border: 1px solid #3B92A8;
  background-color: transparent;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  width: 300px;
  height: 35px;
  transition: all 0.4s ease-out;
  outline: none;
  text-transform: uppercase;
  font-weight: 200;
}

.upload-btn:hover {
  background-color: #3B92A8;
  color: white;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 5px;
  border: 1px solid #c5c5c5;
  width: 50%;
  margin: 35px auto;
}

#table-header {
  background-color: #17a2b8;
  color: white;
}

#table-header {
  background-color: #17a2b8;
  color: white;
}

table {
  width: 90%;
}

th.first-column {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

th.second-column {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.table-bordered td, .table-bordered th {
  padding: 20px;
}

@media only screen and (max-width: 1000px) {
  .mat-accordion .mat-expansion-panel:last-of-type {
    width: 90%;
  }
}
