.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/*----------------------------------------------LEFT SIDE OF PAGE-------------------------------------------*/
.left-split {
  border-radius: 5px;
  background-color: #3B92A8;
  display: grid;
  grid-template-columns: 1fr;
  box-shadow: 3px 0 18px 0 #000000;
}

/*-------------Date selected section--------------*/
.date-wrapper {
  text-align: center;
  padding: 10px;
  margin: 15px;
}

.date, .day-of-week {
  color: white;
}

.date {
  font-size: 115px;
}

.day-of-week {
  font-size: 85px;
}

.year {
  font-size: 20px;
}

/*-------------Events section--------------*/
.events-container {
  color: white;
  padding: 25px;
  margin: 0 auto;
}

.current-events, .upcoming-events {
  margin: 15px;
  font-size: 25px;
}

.appointments {
  font-size: 15px;
}

.no-appts {
  font-size: 14px;
  padding-left: 10px;
}

/*--------add appointments button-------*/
.add-appt-container {
  text-align: center;
  margin: 20px;
}

.add-appt-btn {
  width: 95%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  padding: 8px;
  transition: all 0.4s ease;
}

.add-appt-btn:hover {
  background-color: white;
  color: #3B92A8;
}

.add-appt-btn:focus {
  outline: none;
}

.plus {
  float: right;
  margin: 5px;
  font-size: 32px;
}

/*------------------------------------------RIGHT SIDE OF PAGE--------------------------------------*/
.right-split {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
  margin: 10px;
}

/*--------Top section date picker-------*/
.date-picker-container {
  padding: 20px;
  grid-row: 1;
}

.caret-btns {
  border: none;
  background-color: transparent;
  font-size: 50px;
  margin: 12px;
  outline: none;
  transition: all 0.5s ease;
}

.caret-btns:hover {
  color: #3B92A8;
}

.month {
  font-size: 60px;
  width: 300px;
}

/*--------Calendar section-------*/
.calendar-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row: 2/5;
}

.day-of-week-container {
}

.day-of-week-box {
  font-size: 20px;
  text-transform: uppercase;
}

/*--------past appointments button-------*/
.view-past-container {
  padding: 20px;
  grid-row: 5;
}

.view-past-btn {
  border: 1px solid #3B92A8;
  background-color: transparent;
  border-radius: 5px;
  font-size: 25px;
  margin: 10px;
  width: 315px;
  height: 50px;
  transition: all 0.4s ease-out;
}

.view-past-btn:hover {
  background-color: #3B92A8;
  color: white;
}

.modal-content {
  text-align: center;
  min-height: 385px;
}

h5 {
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px;
  background: #f7f7f7;
  color: #292929;
}

.doc-container {
  margin-bottom: 20px;
}

.doc-selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.doc-choice {
  text-align: center;
  display: grid;
  color: #3a3a3a;
  grid-template-columns: 1fr;
  transition: all 0.4s ease;
}

.doc-choice:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #292929;
}

.selected {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  color: #292929;
}

.doc-selected {
  background-color: transparent;
  font-size: 20px;
  border: none;
}

.doc-image {
  width: 100%;
  height: 100px;
  background: no-repeat 50% 50%;
  background-size: cover;
  border-radius: 5%;
  object-fit: scale-down;
}

.date-choice {
  width: 100%;
  text-align: center;
}

.visit-description {
  width: 100%;
}

.description {
  width: 90%;
}

.submit-cancel {
  float: right;
}

.next {
  float: right;
}
.back {
  float: left;
}

.submit-btn {
  background-color: white;
  color: #292929;
  border: 1px solid #3B92A8;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  transition: all 0.4s ease;
  outline: none;
}

.submit-btn:hover {
  background-color: #3B92A8;
  color: white;
}

.cancel-btn {
  border: none;
  background-color: transparent;
  transition: all 0.4s ease;
  outline: none;
}

.cancel-btn:hover {
  color: red;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 90%;
}

.mat-button {
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .caret-btns {
    font-size: 22px;
  }

  .month {
    font-size: 40px;
    width: 180px;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .date {
    font-size: 80px;
  }

  .day-of-week {
    font-size: 55px;
  }
}
