h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  margin: 0 auto 15px;
}

.container {
  padding: 10px;
  /*min-height: 910px;*/
}

img {
  margin: 20px auto;
}

.box {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  border: 1px solid #3B92A9;
  border-radius: 10px;
  padding: 25px;
  width: 30%;
  margin: 0 auto 10px;
}

p {
  font-size: 10px;
}

@media (max-width: 1079px) {
  .container{
    min-width: 100% !important;
  }
  .box {
    width: 100%;
  }

  .doc-pic {
    width: 350px;
  }
}

.announcements-class[_ngcontent-c6] {
  margin-left: 1rem;
  margin-right: 1rem;
}

.announcements-group {
  overflow: scroll;
}

.row[_ngcontent-c6] .card[_ngcontent-c6] {
  margin: 0px 0px 0px 0px;
  height: 10rem;
  width: 32.3%;
  margin-left: .5%;
  margin-right: .5%;
  padding-top: 1.5rem;
  /*background-color: #17a2b8;*/
  color: white;
}

#card1{
  background-color: #4582EC;
}

#card2{
  background-color: #d9534f;
}

#card3{
  background-color: #f0ad4e;
}

.card-body {
  padding: 5px;
  text-align: center;
}

.card-header {
  text-align: center;
}

.cards-announcements {
  margin: 1rem;
}

.card-icon {
  margin-top: 3px;
  padding-left: 1rem;
}

.card-title {
  margin-left: 1rem;
  text-align: center;
}

.card-body a {
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card-body a:hover{
  color: black;
}

.row .card.announcement-card {
  padding-top: 0rem;
  width: 13rem;
  height: 20rem;
  margin-left: 1rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.text-muted {
  color: white!important;
}
