<div class="container" *ngIf="!isAdmin">

  <div class="top-container">
    <h1 class="header-text" id="TitleAPC">Appalachian Primary Care</h1>
    <div class="dropdown-divider"></div>
    <img src="/assets/img/doc-cartoon.png" class="row doc-pic">
  </div>

  <div class="quick-links" routerLink="../prescription-refill">
    <div class="quick-link-content" id="card1">
      <i class="fas fa-file-prescription quick-link-icon"></i>
      <div class="card-title">View Your Medicine</div>
      <h6>Click to view the medicines you are currently prescribed and request refills.</h6>
    </div>

    <div class="quick-link-content" id="card2" routerLink="../chat">
      <i class="fas fa-user-md quick-link-icon"></i>
      <div class="card-title">Chat With Your Doctor</div>
      <h6>Click to begin chatting with your doctor.</h6>
    </div>

    <div class="quick-link-content" id="card3" routerLink="../helpful-links">
      <i class="fas fa-external-link-alt quick-link-icon"></i>
      <div class="card-title">Find Helpful Links</div>
      <h6>Click to view links suggested by your doctor.</h6>
    </div>
  </div>

  <div class="announcements">
    <div class="announcements-header">
      <div>Announcements</div>
    </div>
    <div class="announcements-list">
      <div *ngFor="let i of announcementList" class="each-announcements">
        <i class="far fa-calendar-alt announcement-icon"></i>
        <div>{{i.date}}</div>
        <div>{{i.announcement}}</div>
      </div>
    </div>
  </div>

  <div class="contact-info">
    <div class="contact-header">
      <div>Contact Us</div>
    </div>
    <div class="content-container">
      <div class="contact-content address">
        <div id="map-icon-background">
          <i class="fas fa-map-marker-alt contact-icon"></i>
        </div>
        <div>Appalachian Primary Care</div>
        <div>123 Appalachian Way</div>
        <div>Kennesaw, GA 30152</div>
      </div>

      <div class="contact-content phone">
        <div id="phone-icon-background">
          <i class="fas fa-phone contact-icon"></i>
        </div>
        <div>770-132-4567</div>
      </div>

      <div class="contact-content fax">
        <div id="fax-icon-background">
          <i class="fas fa-fax contact-icon"></i>
        </div>
        <div>770-222-4567</div>
      </div>

      <div class="contact-content hours">
        <div id="hours-icon-background">
          <i class="far fa-calendar-alt contact-icon"></i>
        </div>
        <div><strong>Monday - Thursday</strong></div>
        <div> 8:00AM - 5:30PM</div>
        <div><strong>Friday</strong></div>
        <div>7:00AM - 3:00PM</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isAdmin">
  <app-users-list></app-users-list>
</div>
