<div class="wrapper">
  <div class="each-box form-group">
    <div class="header">
      <!--BLOOD AND ALLERGY
      Data shown as the variables called below.
      The data is labeled and each field is called by a variable-->
      <div>Medical Information</div>
    </div>
    <div class="section">
      <label>Blood Type: </label>
      <div class="user-info">{{bloodType}}</div>

      <label>Allergies: </label>
      <div class="user-info">{{patientAllergies}}</div>
    </div>
  </div>

  <!--VACCINATIONS
  Data shown as the variables called below.
  The data is labeled and each field is called by a variable-->
  <div class="each-box form-group">
    <div class="header">
      <div>Vaccinations:</div>
    </div>
    <div class="section" >
      <label>Vaccine: </label>
      <div class="user-info">{{vaccine}}</div>

      <label>Type: </label>
      <div class="user-info">{{vaccineType}}</div>

      <label>Date Received: </label>
      <div class="user-info">{{vaccineDate}}</div>
    </div>
  </div>
</div>



<!--SOCIAL HISTORY
    Data shown as the variables called below.
    The data is labeled and each field is called by a variable-->
<div class="wrapper">
  <div class="each-box form-group">
    <div class="header">
      <div>Social History:</div>
    </div>
    <div class="section">
      <label>Smoking Status: </label>
      <div class="user-info">{{smokingStatus}}</div>

      <label>Tobacco Usage: </label>
      <div class="user-info">{{tobaccoUsage}}</div>
    </div>
</div>

<!--PROBLEMS
    Data shown as the variables called below.
    The data is labeled and each field is called by a variable-->

  <div class="each-box form-group">
    <div class="header">
      <div>Problems:</div>
    </div>
    <div class="section">
      <label>Medical Problems: </label>
      <div class="user-info">{{medicalProblems}}</div>

      <label>Medical Provider: </label>
      <div class="user-info">{{medicalProvider}}</div>

      <label>OnSet Date: </label>
      <div class="user-info">{{onSetDate}}</div>
    </div>
  </div>
</div>

<!--PROCEDURES
    Data shown as the variables called below.
    The data is labeled and each field is called by a variable-->
<div class="wrapper">
  <div class="each-box form-group">
    <div class="header">
      <div>Procedures:</div>
    </div>
    <div class="section">
      <label>Description: </label>
      <div class="user-info">{{procedureDescription}}</div>

      <label>Date Performed: </label>
      <div class="user-info">{{datePerformed}}</div>
    </div>
  </div>
</div>

