.wrapper {
  text-align: center;
  display: flex;
}

.header {
  margin-bottom: 25px;
}

.body {
  position: relative;
  top: 20px;
}

.logo {
  width: 200px;
  margin: 20px 0 25px 0;
}

.submit-btn {
  background: #3B92A8;
  color: white;
  width: 230px;
  border-radius: 5px;
  font-size: 25px;
  outline: none;
}

.submit-btn:hover {
  background: #0089a8;
}

.cancel-btn {
  background: transparent;
  border: transparent;
  width: 230px;
  outline: none;
  margin-top: 10px;
}

.cancel-btn:hover {
  color: #ff5356;
}

.form-control {
  display: inline;
  width: 230px;
  padding: 20px;
}

.error-message {
  color: red;
  margin-left: 5px;
}

.alert {
  transition: all 1s ease;
}

.left {
  flex-direction: column;
  flex: 2;
  background: url('/assets/img/login-pic.png') center;
  background-size: cover;
}

.right {
  flex-direction: column;
  flex: 2;
  height: 730px;
}

@media only screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .right {
    margin-top: 155px;
  }
}
